


.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 1.5px;
}


#SHADOW_SECTION {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #1d1d1d;
}


#SHADOW_SECTION_ARTICLES {
    position: relative;
    height: 700px;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}



#SHADOW_SECTION_ASTRONAUT {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #1d1d1d;
    z-index: -100px;
    
}



#ARTICLE_TITLE_HOLDER {
    position: relative;
    grid-area: MAIN-AREA;
    display: grid;
    height: auto;
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "TITLE TITLE TITLE TITLE TITLE TITLE . . . . . ."
    "ARTICLES ARTICLES ARTICLES ARTICLES ARTICLES ARTICLES . . . . . ."
    "ALT_TEXT ALT_TEXT ALT_TEXT ALT_TEXT ALT_TEXT ALT_TEXT . . . . . .";
    top: -520px;
}


#TEXT_HOLDER {
    position: relative;
    grid-area: MAIN-AREA;
    display: grid;
    height: auto;
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:       
        ". TEXT TEXT TEXT TEXT TEXT TEXT . ADVERTS ADVERTS ADVERTS ADVERTS";
    top: -520px;
}


#ARTICLES_FOOTER_HOLDER {
    position: relative;
    grid-area: MAIN-AREA;
    display: grid;
    height: auto;
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        ". TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT . . ."
        ". ARTICLES ARTICLES ARTICLES ARTICLES ARTICLES ARTICLES ARTICLES ARTICLES . . ."
        ". . . . . . . . . . . .";
    top: 0px;
}


#ARTICLES_FOOTER_TEXT {
    position: relative;
    grid-area: TEXT;
    display: grid; 
    width: 100%;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "TITLE"
        "SUBTITLE";
}


#ARTICLES_FOOTER_LINKS {
    position: relative;
    grid-area: ARTICLES;
    display: grid;
    height: 320px;
    width: 100%;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "LINK_1 LINK_2 LINK_3";
}

#F_LINK_1{
    grid-area: LINK_1;
}


#F_LINK_2 {
    grid-area: LINK_2;
}

#F_LINK_3 {
    grid-area: LINK_3;
}


#ARTICLE_IMAGE {
    grid-area: ARTICLES;
    width: 100%;
    height: auto;
}


#ARTICLE_IMAGE_2 {
    grid-area: IMAGE;
    width: 100%;
    height: 500px;
}


#ARTICLE_TITLE {
    grid-area: TITLE; 
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "SUBTEXT TITLE" 
                         "SUBTEXT SUBTITLE"
                         "SUBTEXT AUTHOR";
}



#TEXT_STRUCTURE{
    grid-area: TEXT;
    display: grid;
    width: 100%;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "INTRO"
                         "BULLET_POINTS"
                         "BODY_1"
                         "VIDEO"
                         "BODY_2"
                         "IMAGE"
                         "CONCLUSION";
}


#ADVERTS_STRUCTURE{
    grid-area: ADVERTS;
    display: grid;
    width: 100%;
    grid-row-gap: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "ADVERT_1"
                         "ADVERT_2";
}


#ADVERT_1_HOLDER {
    position: relative;
    grid-area: ADVERT_1;
    width: 100%;
    height: 100%;
}


#ADVERT_1 {
    position: sticky;
    width: 100%;
    height: 380px;
    background: #efefef;
    top: 120px;
}



#ADVERT_2_HOLDER {
    position: relative;
    grid-area: ADVERT_2;
    width: 100%;
    height: 100%;
}


#ADVERT_2 {
    position: sticky;
    width: 100%;
    height: 500px;
    background: #efefef;
    top: 120px;
}

#AT{
    grid-area: TITLE;   
}

#AST {
    grid-area: SUBTITLE;
}

#AUT {
    grid-area: AUTHOR;
}


#LINK_HOLDER {
    position: relative;
    grid-area: CONTENT;
    width: 100%;
    
}

#IMAGE_POST {
    position: relative;
    width: 100%;
    height: 100%;  
}


#ARTICLE_ALT_TEXT{
    grid-area: ALT_TEXT;

}





.center_holder {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
}


.center_holder_articles {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
    margin-top: -520px;
    z-index: -1000px;
}



.center_holder_astronaut {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    
    z-index: -100px;
}

.grid_0 {
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    grid-template-rows: 100px auto 20px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
                         ". BANNER-1 . MAIN-AREA . BANNER-2 ."
                         ". . . . . . .";
}


.grid_0_astronaut {
    width: 100%;
    max-width: 1640px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
        ". BANNER-1 . MAIN-AREA MAIN-AREA MAIN-AREA ."
        ". . . . . . .";
}




#ASTRONAUT_FOOTER_HOLDER {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . . ASTRONAUT ASTRONAUT ASTRONAUT";
}


#ASTRONAUT_3 {
    grid-area: ASTRONAUT;
    width: 100%;
    height: 800px;
    background-color: aliceblue;
    margin-top: -700px;
}





.grid_0_blogtop {
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    grid-template-rows: 100px auto 20px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
        ". BANNER-1 . MAIN-AREA . BANNER-2 ."
        ". . . . . . .";
}


.grid_0_header {
    position: sticky;
    top: 400px;
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 0px auto 20px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
        ". BANNER-1 . MAIN-AREA . BANNER-2 ."
        ". . . . . . .";
}


.grid_0_main {
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
        ". BANNER-1 . MAIN-AREA . BANNER-2 ."
        ". . . . . . .";
}


.grid_0_image_left {
    width: 100%;
    max-width: 1960px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap:40px;
    grid-row-gap: 20px;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-areas: ". IMAGE IMAGE IMAGE IMAGE . . . . . ."
                         ". IMAGE IMAGE IMAGE IMAGE . ADVERT ADVERT ADVERT ADVERT ."
                         ". IMAGE IMAGE IMAGE IMAGE . . . . . .";
}



.grid_0_image_right {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-areas: ". . . . . . . . . . . . ."
                         ". . . . . . . IMAGE_2 IMAGE_2 IMAGE_2 IMAGE_2 IMAGE_2 IMAGE_2"
                         ". . . . . . . . . . . . .";

    margin-top: -0px;
}


#ASTRONAUT_IMAGE_1{
    grid-area: IMAGE;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;

}


#ASTRONAUT_IMAGE_2 {
    position:  sticky;
    grid-area: IMAGE_2;
    width: 100%;
    height: 900px;
    background-color: rgb(106, 106, 106);
    margin-top: -980px; 
}










#SERVICES_HOLDER {
    position: sticky;
    grid-area: SERVICES;
    width: 100%;
    top: 200px;   
}


#SERVICES {
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas:
                "TITLE"
                "TEXT";
    width: 100%;
    height: 100%;    
}


#SERVICES_COLLAPSE_HOLDER {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-template-rows: auto auto auto;
    max-height: 0;

}


#ASTRONAUT {   
    grid-area: ASTRONAUT;
    background-color: #EFEFEF;
    width: 100%;
}


#BC {
    position: relative;
    grid-area: BC;
    background-color: transparent;
    width: 200%;
    left: -139px;
    top: -113.5px;  
}




#BC_MOBILE_HOLDER {
    position: absolute;
    display: none;
    
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    grid-template-rows: 120px auto;
    grid-row-gap: 20px;
    grid-template-areas: 'BC'
                         'VOID';
}


#BC_MOBILE_HOLDER_2 {
    position: absolute;
    grid-area: BC;
    height: 100%;
    width: 100%;
}


#BC_MOBILE {
    position: absolute;  
    width: 110%;
    left: -80px;
    top: 0px;
}








#IMAGE_POST_TITLE {
    display: grid;
    position: relative;
    grid-area: TITLE;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "TITLE"
            "SUBTITLE";
    grid-row-gap: 20px;
    background-color: rgb(86, 238, 223);
    width: 100%;
    top:  -60px;
    max-height: 0;   
}


#NEWS {
    grid-area: NEWS;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;
    background-color: #1d1d1d;
    width: 100%;
    height: 100%;
    grid-template-areas:
            "TOP_STORIES"
            "ARTICLES";
}



#ARTICLES {
    grid-area: ARTICLES;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 150px;  
    width: 100%;   
    grid-template-areas:
        "1"
        "2"
        "3"
        "4";
}

#ARTICLES_MOBILE {
    display: none;
}


#BLOG_SMALL_1 {
    grid-area: 1;
    width: 100%;
    height: 100%;
    max-height: 0;
    display: grid;
    grid-row-gap: 2.5px;
    grid-column-gap: 15px;
    grid-template-columns: 30px 1fr 140px;
    grid-template-rows:  30px 60px 5px auto auto 5px auto;
    grid-template-areas:
            
            "NUMBER TITLE IMAGE"
            ". TITLE IMAGE"
            ". TITLE ."
            ". TITLE AUTHOR"
            ". . TIMESTAMP"
            ". . ."
            ". BORDER BORDER";
}




#BLOG_NUMBER {
    grid-area: NUMBER;
    background-color: #efefef;
    
    
}

#BLOG_AUTHOR {
    grid-area: AUTHOR;
    height: 100%;
}


#BLOG_IMAGE {
    grid-area: IMAGE;
    background-color: #efefef;   
    height: 100%;
}


#BORDER {
    grid-area: BORDER;    
    height: 5px;
}

#TIMESTAMP {
    grid-area: TIMESTAMP;
}

#B1 {
    grid-area: 1;
}

#B2 {
    grid-area: 2;
}

#B3 {
    grid-area: 3;
}



#INTRO_HOLDER {
    position: relative;
    display: grid;
    grid-area: INTRO;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 20px;
    width: 100%;
    height: auto;
    grid-template-areas:   
                        "TITLE"
                        "SUBTITLE"
                        "IMAGE";
}


#INTRO {
    grid-area: TITLE;
    position: relative;
    width: 100%;
}


#INTRO_SUBTITLE {
    grid-area: SUBTITLE;
    position: relative;
    width: 100%;
}


#IMAGE {
    grid-area: IMAGE;
    width: 100%;
    height: 700px;
    background-color: #fbff1b;
}




#WHO_WE_WORK_WITH_HOLDER {
    display: grid;
    grid-row-gap: 20px;
    grid-area: WHO_WE_WORK_WITH;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
            "TITLE"
            "CAROUSEL";
}


#WHO_WE_WORK_WITH{
    
    width: 100%;
    height: 500px;  
}

#CAROUSEL_HOLDER{
    grid-area: CAROUSEL;
    width: 100%;
    height: 280px;
    background-color: aqua;
}


#ABOUT_HOLDER {
    position: relative;
    grid-area: ABOUT;
    background-color: #1d1d1d;
    width: 100%;
    height: 1200px;
    margin-top: -350px;
}


#PROCESS_GRAPHIC_HOLDER {
    position: relative;
    grid-area: MAIN-AREA;
    height:600px;
    background-color:burlywood;
}





#ABOUT {
    position: sticky;
    display: grid;   
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60px auto;
    grid-template-areas:
            "."
            "TITLE"
            "TEXT";
    background-color: #1d1d1d;
    width: 100%;
    height: auto;
    top: 160px;
}


#GRAPHIC {
    position: relative;
    grid-area: GRAPHIC;
    background-color: #3affbd;
    width: 100%;   
}


#VIDEO_LATEST_HOLDER {
    position: relative;
    grid-area: VIDEO;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "VIDEO"
            "TITLE";
}



#VIDEO_TEXT_HOLDER {
    position: relative;
    display: grid;
    width: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "TITLE TITLE TITLE"
            "SUBTITLE SUBTITLE SHARE"
            "SUBTITLE SUBTITLE SHARE";
}


#V_TITLE_HOLDER{
    grid-area:  TITLE;
}

#V_SUBTITLE_HOLDER {
    grid-area: SUBTITLE;
}


#SHARE {
    grid-area: SHARE;
    background-color: whitesmoke;
}


#ABOUT_TITLE_HOLDER {
    grid-area: TITLE;
}

#ABOUT_TEXT_HOLDER {
    grid-area: TEXT;
}




#HEADER_HOLDER {
    position: relative;
    grid-area: MAIN-AREA;
    background-color: #1d1d1d;
    width: 100%;
    height: 1200px;
    margin-top: -0px;
}


#HEADER_TEST {
    position: sticky;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 60px auto;
    grid-template-areas:
        
        "TITLE"
        "TEXT";
    background-color: #1d1d1d;
    width: 100%;
    height: auto;
    top: 0px;
}























@media all and (min-width: 960px) and (max-width: 1280px) {
    .grid_0 {
            width: 100%;
            max-width: 1640px;
            background-color: #1d1d1d;
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 40px;
            grid-template-rows: 100px auto 20;
            grid-template-columns: 20px 1fr 20px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2"
                ". . .";
        }

.grid_0_main {
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 100px auto 20;
    grid-template-columns: 0px 1fr 0px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2"
        ". . .";
}


.grid_0_image_left {
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px;
    grid-template-areas: ". IMAGE IMAGE IMAGE IMAGE IMAGE . . . . ."
        ". IMAGE IMAGE IMAGE IMAGE IMAGE ADVERT ADVERT ADVERT ADVERT ."
        ". IMAGE IMAGE IMAGE IMAGE IMAGE . . . . .";
}

    
.head {
    grid-area: MAIN-AREA;
    display: grid;
    width: 100%;
    height: 920px;
    grid-column-gap: 40px;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto auto auto;
    grid-template-areas:
        "BC . . . . . . . . . . . . ."
        "BC CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT NEWS NEWS NEWS NEWS NEWS NEWS NEWS"
        "BC CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT NEWS NEWS NEWS NEWS NEWS NEWS NEWS"
        "BC CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT NEWS NEWS NEWS NEWS NEWS NEWS NEWS"
        "BC TITLE TITLE TITLE TITLE TITLE TITLE NEWS NEWS NEWS NEWS NEWS NEWS NEWS"
        "BC TITLE TITLE TITLE TITLE TITLE TITLE NEWS NEWS NEWS NEWS NEWS NEWS NEWS";
    }


.main {
    grid-area: MAIN-AREA;
    display: grid;
    width: 100%;
    height: auto;
    grid-column-gap: 40px;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 100px auto;
    grid-template-areas:

        "INTRO INTRO INTRO INTRO INTRO INTRO . ABOUT ABOUT ABOUT ABOUT ABOUT"
        ". . . . . . . ABOUT ABOUT ABOUT ABOUT ABOUT"
        "WHO_WE_WORK_WITH WHO_WE_WORK_WITH WHO_WE_WORK_WITH WHO_WE_WORK_WITH WHO_WE_WORK_WITH WHO_WE_WORK_WITH . ABOUT ABOUT ABOUT ABOUT ABOUT";
}


#ARTICLES {
    grid-area: ARTICLES;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 150px;
    width: 100%;
    grid-template-areas:
        "1"
        "2"
        "3"
        "4";
    }


#BLOG_SMALL_1 {
    grid-area: 1;
    width: 100%;
    height: 100%;
    max-height: 0;
    display: grid;
    grid-row-gap: 2.5px;
    grid-column-gap: 15px;
    grid-template-columns: 30px 1fr 140px;
    grid-template-rows: 30px 60px 5px auto auto 5px auto;
    grid-template-areas:

        "NUMBER TITLE IMAGE"
        ". TITLE IMAGE"
        ". TITLE ."
        ". TITLE AUTHOR"
        ". TITLE TIMESTAMP"
        ". . ."
        ". BORDER BORDER";
}




#ASTRONAUT_IMAGE_2 {
    position: sticky;
    grid-area: IMAGE_2;
    width: 100%;
    height: 900px;
    background-color: rgb(106, 106, 106);
    margin-top: -980px;
}
}




















@media all and (min-width: 480px) and (max-width: 960px) {

    .grid_0 {
            position: relative;
            width: 100%;
            background-color: #1d1d1d;
            display: grid;
           
            padding-left: 30px;
            padding-right: 30px;
            grid-row-gap: 40px;
            grid-template-rows: 100px auto;
            grid-template-columns: 1fr;
            grid-template-areas: "  .  "
                " MAIN-AREA ";
            margin-bottom: 40px;
        }

 .grid_0_main {
     position: relative;
     width: 100%;
     background-color: #1d1d1d;
     display: grid;

     padding-left: 30px;
     padding-right: 30px;
     grid-row-gap: 40px;
     grid-template-rows: 40px auto;
     grid-template-columns: 1fr;
     grid-template-areas: "  .  "
         " MAIN-AREA ";
     
 }




.grid_0_image_left {
    width: 100%;
    max-width: 960px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-rows: 60px auto 20px;
    grid-template-columns: 0px 1fr  0px;
    grid-template-areas: ". . ."
                         ". IMAGE ."
                         ". IMAGE .";
}


.grid_0_image_right {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 0px 1fr 0px;
    grid-template-areas: ". . ."
                         ". IMAGE_2 ."
                         ". . .";
    margin-top: 0px;
}




        .center_holder {          
            width: 100%;
            display: flex;       
            -webkit-box-pack: center;
            justify-content: center;
            background-color: aliceblue;
            margin: 0;
        }

    
        .main {
            position: relative;
            grid-area: MAIN-AREA;
            display: grid;
            width: 100%;           
            top: 0px;
            grid-template-columns: 1fr;
            grid-template-rows: 800px auto auto;
            grid-row-gap: 40px;
            
            grid-template-areas:
    
                "INTRO"
                "ABOUT"
                "WHO_WE_WORK_WITH";
        }


        #IMAGE {
            grid-area: IMAGE;
            width: 100%;                             
            height: 66.5vh; 
            max-height: 100% ;                                  
            background-color: #fbff1b;
        }


        #IMAGE_POST_TITLE {
            display: grid;
            position: relative;
            grid-area: TITLE;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "TITLE"
                "SUBTITLE";
            grid-row-gap: 20px;
            background-color: rgb(86, 238, 223);
            width: 100%;
            top: -60px;
            max-height: 0;
        }
    
        #ABOUT_HOLDER {
            position: relative;
            grid-area: ABOUT;
            background-color: #1d1d1d;
            width: 100%;
            height: auto;
            padding-bottom: 0px;
            margin-top: 0px;
        }

        #ABOUT {         
            position: relative;
            width: 100%;
            height: 100%;
            top: 0px;  
        }


        

        #LINK_HOLDER {
            position: relative;
            grid-area: CONTENT;
            background-color: #efefef;
            width: 100%;
            left: 0px;
        }

        #BC_MOBILE_HOLDER {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr;
            height: 100%;
            width: 100%;
            grid-template-rows: 120px auto;
            grid-row-gap: 20px;
            grid-template-areas: 'BC'
                'VOID';
        }
     


        .video_section {
            position: relative;
            grid-area: MAIN-AREA;
            display: grid;
            width: 100%;
            height: auto;
            top: 0px;
            padding-bottom: 0px;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: auto 700px 460px 700px;
            grid-template-areas:
                "VIDEO"
                "GRAPHIC"
                "SERVICES"
                "ASTRONAUT";
        }

        #VIDEO_LATEST {
    
            grid-area: VIDEO;
    
            width: 100%;
            height: 100%;
            
        }
    

        

        .head {
            position: relative;
            grid-area: MAIN-AREA;
            display: grid;
            width: 100%;
            height: 860px;
            grid-column-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0px 100px 480px 200px 700px;
            grid-template-areas:
                ". . . . ."
                "BC BC BC BC BC"
                "CONTENT CONTENT CONTENT CONTENT CONTENT"
                "TITLE TITLE TITLE TITLE ."
                "NEWS NEWS NEWS NEWS .";
            padding-bottom: 1500px;
        }


                #INTRO_HOLDER {
                    position: relative;
                    display: grid;
                    grid-area: INTRO;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto auto;
                    grid-row-gap: 20px;
                    width: 100%;
                    height: 100%;
                    max-height: 0;
                    grid-template-areas:
                        "TITLE"
                        "SUBTITLE"
                        "IMAGE";
                }




        #INTRO {
            grid-area: TITLE;
            position: relative;
            width: 100%;
        }
    
    
        #INTRO_SUBTITLE {
            grid-area: SUBTITLE;
            position: relative;
            width: 100%;
        }



        #BC {
            display: none;
        }  

        #BC_MOBILE_HOLDER {
            position: absolute;
            display: grid;
    
            grid-template-columns: 1fr;
            height: 100%;
            width: 100%;
            grid-template-rows: 120px auto;
            grid-row-gap: 20px;
            grid-template-areas: 'BC'
                'VOID';
        }


        #SERVICES_HOLDER {
            position: relative;
            grid-area: SERVICES;
            width: 100%;
            top: 0px;
        }
    
    
        #BC_MOBILE_HOLDER_2 {
            position: absolute;
            grid-area: BC;
            height: 100%;
            width: 100%;
        }
    
    
        #BC_MOBILE {
            position: absolute;
            width: 110%;
            min-width: 540px;
            left: -30px;
            top: -120px;
        }
        
        #NEWS {
            grid-area: NEWS;
            display: grid;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: 30px auto;
            background-color: #1d1d1d;
            width: 100%;
            height: 100%;
            grid-template-areas:
                "TOP_STORIES"
                "ARTICLES";
        }

        #LINK_HOLDER {
            position: relative;
            grid-area: CONTENT;
            background-color: #efefef;
            width: 100%;
        }



        #ARTICLES {
            display: none;
        }


        #ARTICLES {
            grid-area: ARTICLES;
            display: grid;
            grid-row-gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto ;
            width: 100%;
            grid-template-areas:
                "1"
                "2"
                "3"
                ;
        }

        #BLOG_SMALL_1 {   
            width: 100%;
            height: 100%;
            max-height: 0;
            display: grid;
            grid-row-gap: 5px;
            grid-column-gap: 15px;
            grid-template-columns: 30px 1fr 155px;
            grid-template-rows: 30px 65px 10px auto auto auto;
            grid-template-areas:
    
                "NUMBER TITLE IMAGE"
                ". TITLE IMAGE"
                ". TITLE ."
                ". TITLE AUTHOR"
                ". TITLE TIMESTAMP"
                ". BORDER BORDER";
        }


        #ASTRONAUT_IMAGE_2 {
            position: sticky;
            grid-area: IMAGE_2;
            width: 100%;
            height: 700px;
            background-color: rgb(106, 106, 106);
            margin-top: -740px;
        }
      
}


























@media all and (min-width: 0px) and (max-width: 480px) {
.grid_0 {
        width: 100%;
        background-color: #1d1d1d;
        display: grid;
        padding-left: 20px;
        padding-right: 20px;
        grid-row-gap: 40px;
        grid-template-rows: 100px auto;
        grid-template-columns: 1fr;
        grid-template-areas: "  .  "
            " MAIN-AREA ";
    }

.grid_0_main {
    width: 100%;
    max-width: 1640px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-rows: 0px auto 20px;
    grid-template-columns: 0px 1fr 0px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2"
        ". . .";
   
}


.grid_0_image_left {
    width: 100%;
    max-width: 960px;
    background-color: #1d1d1d;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: 60px auto 20px;
    grid-template-columns: 0px 1fr 0px;
    grid-template-areas: ". . ."
        ". IMAGE ."
        ". IMAGE .";
}



.grid_0_image_right {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 0px 1fr 0px;
    grid-template-areas: ". . ."
        ". IMAGE_2 ."
        ". . .";
    margin-top: 0px;
}


           .main {
               position: relative;
               grid-area: MAIN-AREA;
               display: grid;
               width: 100%;
               top: 0px;
               grid-template-columns: 1fr;
               grid-template-rows: 800px auto auto;
               grid-row-gap: 40px;
    
               grid-template-areas:
    
                   "INTRO"
                   "ABOUT"
                   "WHO_WE_WORK_WITH";
           }


#IMAGE {
    grid-area: IMAGE;
    width: 100%;
    height: 680px;
    background-color: #fbff1b;
}



    #IMAGE_POST_TITLE {
        display: grid;
        position: relative;
        grid-area: TITLE;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "TITLE"
            "SUBTITLE";
        grid-row-gap: 20px;
        background-color: rgb(86, 238, 223);
        width: 100%;
        top: -60px;
        max-height: 0;
    }


#ABOUT_HOLDER {
    position: relative;
    grid-area: ABOUT;
    background-color: #1d1d1d;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    margin-top: 0;
}


#ABOUT {
    position: relative;
    
    width: 100%;
    height: 100%;
    top: 0px;
}

    #LINK_HOLDER {
        position: relative;
        grid-area: CONTENT;
        background-color: #efefef;
        width: 100%;
        left: 0px;
    }

    #BC_MOBILE_HOLDER {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
        grid-template-rows: 120px auto;
        grid-row-gap: 20px;
        grid-template-areas: 'BC'
            'VOID';
    }


                .video_section {
                    position: relative;
                    grid-area: MAIN-AREA;
                    display: grid;
                    width: 100%;
                    height: auto;
                    top: 280px;
                    padding-bottom: 280px;
                    grid-column-gap: 40px;
                    grid-row-gap: 40px;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 600px 450px 600px;
                    grid-template-areas:
                        "VIDEO"
                        "GRAPHIC"
                        "SERVICES"
                        "ASTRONAUT";
                    margin-top: -280px;
                }


#VIDEO_LATEST {

    grid-area: VIDEO;

    width: 100%;
    height: 100%;

}


    .head {
        grid-area: MAIN-AREA;
        display: grid;
        width: 100%;
        height: 860px;
        grid-column-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 0px 100px 480px 200px 600px;
        grid-template-areas:
            "."
            "BC "
            "CONTENT"
            "TITLE"
            "NEWS";
        padding-bottom: 1500px;
        
    }

    #SERVICES_HOLDER {
        position: relative;
        grid-area: SERVICES;
        width: 100%;
        top: 0px;
    }


#INTRO_HOLDER {
    position: relative;
    display: grid;
    grid-area: INTRO;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 57.5vh;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
    max-height: 0;
    grid-template-areas:
        "TITLE"
        "SUBTITLE"
        "IMAGE";
}


    #INTRO {
        grid-area: TITLE;
        position: relative;
        width: 100%;
    }


    #INTRO_SUBTITLE {
        grid-area: SUBTITLE;
        position: relative;
        width: 100%;
    }



    #BC {
        display: none;
    }

    #BC_MOBILE_HOLDER {
        position: absolute;
        display: grid;

        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
        grid-template-rows: 120px auto;
        grid-row-gap: 20px;
        grid-template-areas: 'BC'
            'VOID';
    }


    #BC_MOBILE_HOLDER_2 {
        position: absolute;
        grid-area: BC;
        height: 100%;
        width: 100%;
    }


    #BC_MOBILE {
        position: absolute;
        width: 120%;
        min-width: 120px;
        left: -20px;
        top: -45px;
    }

    #NEWS {
        grid-area: NEWS;
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 30px auto;
        background-color: #1d1d1d;
        width: 100%;
        height: 100%;
        grid-template-areas:
            "TOP_STORIES"
            "ARTICLES";
    }

    #LINK_HOLDER {
        position: relative;
        grid-area: CONTENT;
        background-color: #efefef;
        width: 100%;
    }



#ARTICLES {
    grid-area: ARTICLES;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    grid-template-areas:
        "1"
        "2"
        "3"
    ;
}


#BLOG_SMALL_1 {
    
    width: 100%;
    height: 100%;
    max-height: 0;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    grid-template-columns: 30px 1fr 105px;
    grid-template-rows: 30px 35px auto auto auto;
    grid-template-areas:

        "NUMBER TITLE IMAGE"
        ". TITLE IMAGE"
        ". TITLE  AUTHOR"
        ". TITLE TIMESTAMP"
        "BORDER BORDER BORDER";
}


#ASTRONAUT_IMAGE_2 {
    position: sticky;
    grid-area: IMAGE_2;
    width: 100%;
    height: 600px;
    background-color: rgb(106, 106, 106);
    margin-top: -700px;
}

#IMAGE {
    grid-area: IMAGE;
    width: 100%;
    height: 100%;
    background-color: #fbff1b;
}

        
               
}






.h3 {
    margin-bottom: 0px;
}