/* HEADER------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/

#H_3 {
    margin-bottom: 0%;

}


.center_holder {
    width: 100%;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 1.5px;
}


.container_2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: left;
}


.container_right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}



.hidebar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #202020;
    z-index: 1000000;
}

.HEADER_HOLDER {
    grid-area: MAIN-AREA;
    display: flex;
    position: fixed;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #202020;
    z-index: 100000;

}

#header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 65px;
    max-width: 1640px;
    background-color: #202020;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas:
        ". BANNER-1  . MAIN-AREA . BANNER-2 .";
    z-index: 80;
}


.burger_dot {
    border-radius: 100%;
    background-color: #202020;

}


#FIXED_HEADER {
    grid-area: MAIN-AREA;
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 40px;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0px auto 0px;
    grid-template-areas:
        ". . . . . . . . . . . ."
        "LOGO_HOLDER DATE-CLOCK DATE-CLOCK DATE-CLOCK DATE-CLOCK . MENU MENU MENU MENU MENU-BUTTON MENU-BUTTON"
        ". . . . . . . . . . . .";
}

#LOGO_LINK {
    grid-area: LOGO;
    display: grid;
    grid-template-rows: 5px auto 5px;
    grid-template-columns: 1fr 5px 5px;
    width: 100%;
    height: 100%;
    grid-template-areas: ". . ."
                         "LOGO . ."
                         ". . .";
}

#LOGO {
    grid-area: LOGO;
    width: 100%;
    height: 100%;
}


#BUTTON_HOLDER_LEFT {
    grid-area: DATE-HOLDER;
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "."
        "AREA"
        ".";
}


#BUTTON_HOLDER_RIGHT {
    grid-area: MENU-BUTTON;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-rows: 5px auto 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "."
        "AREA"
        ".";
}


#HEADER_MENU_1 {
    grid-area: AREA;
    background-color: #202020;
    width: 100%;
    height: 100%;
}


#HEADER_MENU_2 {
    grid-area: AREA;
    display: grid;
    grid-template-rows: 5px auto 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "  ."
        "BURGER"
        " .";
}

#B_H_2 {
    grid-area: BURGER;
    width: 100%;
    height: 100%;
}

#BURGER_CONTAINER {
    display: grid;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    height: 100%;
    grid-area: AREA;
}



#BURGER_MENU {
    grid-area: AREA;
}


#BURGER_HOLDER {
    grid-area: BURGER;
}




#CLOCK_HOLDER {
    grid-area: CLOCK-HOLDER;
    display: grid;
    grid-template-rows: 15px auto 15px;
    grid-template-columns: 15px 1fr 15px;
    grid-template-areas:
        " . . ."
        "AREA AREA ."
        ". . .";
}


#NAV_MENU {
    grid-area: MENU;
    display: grid;
    width: 100%;
    max-width: 600px;
    justify-self: right;
    grid-template-columns: 1fr 1.5px 1fr 1.5px 1fr 1.5px 1fr;
    grid-template-rows: 0px auto 0px;
    grid-template-areas:
            ". . . . . . ."
            "CONTACT B1 SERVICES B2 ABOUT B3 HOME"
            ". . . . . . .";
    background: transparent;
}

#B1 {
    grid-area: B1;    
}

#B2 {
    grid-area: B2;   
}

#B3 {
    grid-area: B3; 
}

#B4 {
    grid-area: B4;
}




#EMPTY {
    grid-area: EMPTY;
    display: grid;
    grid-template-rows: 5px auto 5px;
    grid-template-columns: 10px 1fr 10px;
    background-color: #202020;
    grid-template-areas:
        " . . ."
        ". AREA ."
        ". . .";
}


#LOGO_ICON {
    grid-area: LOGO_HOLDER;
    display: grid;
    grid-template-rows: 7.5px 50px 7.5px;
    grid-template-columns: 50px 1fr;

    grid-template-areas:
        ". ."
        "LOGO ."
        ". .";
}


#BIMCOPILOT {
    grid-area: LOGO;
}

#PFBD_RIGHT_DATE {
    grid-area: LOGO;
}


#PFBD_RIGHT_CLOCK {
    grid-area: CLOCK;
}




#CLOCK {
    padding: 0px;
    font-family: mundial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(0.30em, 1.25vw, 0.90em);
    color: #1d1d1d;
    text-align: left;
}


#DATE {

    padding: 0px;
    font-family: mundial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(0.30em, 1.25vw, 0.90em);
    color: #1d1d1d;
    text-align: left;
}


#TIME {
    display: grid;
    grid-area: DATE-CLOCK;
    background-color: transparent;
    grid-template-columns: 1fr 1.5px 1fr;
    grid-template-rows: 0px auto 0px;
    grid-column-gap: 0px;
    grid-template-areas: ". . ."
                "DATE B4 CLOCK"
                ". . .";
}






/*BURGER------------------------------------------------------------------------------*/
#BURGER {
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    text-decoration: none;
}

#BURGER #BURGER_2 {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 3px;
    color: #efefef;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #efefef;
    transition: all .2s ease-out;
    margin-bottom: 0%;
}

#BURGER #BURGER_2::before,
#BURGER #BURGER_2::after {
    content: '';
    width: 18px;
    height: 3px;
    background: #efefef;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
}

#BURGER #BURGER_2::before {
    top: -7px;
}

#BURGER #BURGER_2::after {
    bottom: -7px;
}

#BURGER:hover #BURGER_2::before {
    top: -10px;
}

#BURGER:hover #BURGER_2::after {
    bottom: -10px;
}

#BURGER.active #BURGER_2 {
    background: #efefef;
}

#BURGER.active #BURGER_2::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

#BURGER.active #BURGER_2::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}



/* Button placement */
#BURGER {
    position: absolute;
    left: 100%;
    margin-left: -18px;
}



#DRAWER_CONTAINER {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 102, 36);
}


#DRAWER_GRID {

    max-height: 0;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 50px auto 25px 50px 20px 50px 20px 50px 20px 50px 20px 50px auto;
    grid-template-areas:
        " . . ."
        ". MENU ."
        " . . ."
        ". HOME ."
        ". . ."
        ". BLOG ."
        ". . ."
        ". TECH ."
        ". . ."
        ". ARCHITECTURE ."
        ". . ."
        ". RESUME .";
}

#MENU {
    grid-area: MENU;
}

#HOME_NAV {
    grid-area: HOME;
}

#BLOG_NAV {
    grid-area: BLOG;
}

#ARCHITECTURE_NAV {
    grid-area: ARCHITECTURE;
}

#TECH_NAV {
    grid-area: TECH;
}


#RESUME_NAV {
    grid-area: RESUME;
}




#HOME_ICON {
    grid-area: HOME;
}

#ABOUT_ICON {
    grid-area: ABOUT;
}

#SERVICES_ICON {
    grid-area: SERVICES;
}

#CONTACT_ICON {
    grid-area: CONTACT;
}



#DATE_ICON {
    grid-area: DATE;
}

#CLOCK_ICON {
    grid-area: CLOCK;
}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/




























/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 960px) and (max-width: 1280px) {



    .center_holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: aliceblue;
        margin: 0;
    }


    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 1.5px;
    }


    .container_2 {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: left;
    }


    .container_right {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
    }



    .hidebar {
        position: fixed;
        width: 100%;
        max-width: 1760px;
        height: 20px;
        background-color: aliceblue;
        z-index: 100;
    }


    #header {
        position: fixed;
        width: 100%;
        top: 20px;
        height: 100px;
        max-width: 1760px;     
        display: grid;
        grid-row-gap: 40px;
        grid-template-rows: auto;
        grid-template-columns: 40px 0px 0px 1fr 0px 0px 40px;
        grid-template-areas:
            ". BANNER-1  . MAIN-AREA . BANNER-2 .";
        z-index: 80;
    }


    .burger_dot {
        border-radius: 100%;
        background-color: #202020;

    }


        #FIXED_HEADER {
            grid-area: MAIN-AREA;
            display: grid;
            grid-row-gap: 5px;
            grid-column-gap: 40px;
            grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 5px auto 5px;
            grid-template-areas:
                ". . . . . . . . . . . ."
                "LOGO_HOLDER DATE-CLOCK DATE-CLOCK DATE-CLOCK . . MENU MENU MENU MENU MENU-BUTTON MENU-BUTTON";
        }


        #BUTTON_HOLDER_LEFT {
            grid-area: DATE-HOLDER;
            display: grid;
            
            grid-row-gap: 15px;
            grid-column-gap: 20px;
            grid-template-rows: 5px auto 10px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "."
                "AREA"
                ".";
        }


        #BUTTON_HOLDER_RIGHT {
            grid-area: MENU-BUTTON;
            display: grid;
            grid-row-gap: 10px;
            grid-column-gap: 20px;
            grid-template-rows: 5px auto 10px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "."
                "AREA"
                ".";
        }


    #HEADER_MENU_1 {
        grid-area: AREA;
        background-color: #202020;
    }


    #HEADER_MENU_2 {
        grid-area: AREA;
        display: grid;
        grid-template-rows: 5px auto 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "  ."
            "BURGER"
            " .";
    }

    #B_H_2 {
        grid-area: BURGER;
        width: 100%;
        height: 100%;
    }

    #BURGER_CONTAINER {
        display: grid;
        align-items: flex-end;
        justify-content: right;
        width: 100%;
        height: 100%;
        grid-area: AREA;

    }



    #BURGER_MENU {
        grid-area: AREA;
    }


    #BURGER {
        grid-area: BURGER;
    }




    #CLOCK_HOLDER {
        grid-area: CLOCK-HOLDER;
        display: grid;
        grid-template-rows: 15px auto 15px;
        grid-template-columns: 15px 1fr 15px;
        grid-template-areas:
            " . . ."
            "AREA AREA ."
            ". . .";
    }




    #EMPTY {
        grid-area: EMPTY;
        display: grid;
        grid-template-rows: 5px auto 5px;
        grid-template-columns: 10px 1fr 10px;
        background-color: #202020;
        grid-template-areas:
            " . . ."
            ". AREA ."
            ". . .";
    }



#NAV_MENU {
    grid-area: MENU;
    display: grid;
    width: 100%;
    max-width: 600px;
    justify-self: right;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 30px auto 30px;
    grid-template-areas:
        ". . . . . . ."
        "CONTACT . SERVICES . ABOUT . HOME"
        ". . . . . . .";
    background: transparent;
}
   

    #PFBD_RIGHT_DATE {
        grid-area: DATE;
    }


    #PFBD_RIGHT_CLOCK {
        grid-area: CLOCK;
    }




    #CLOCK {

        padding-top: 0px;
        font-weight: 500;
        font-style: normal;
        font-size: 1rem;
        color: #f1f1f1;
        text-align: right;
        margin-bottom: 0%;
    }


    #DATE {

        padding-top: 0px;
        padding-bottom: 0px;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        color: #202020;
        text-align: left;
        margin: 0%;
    }


        #LOGO_HOLDER {
            grid-area: LOGO-HOLDER;
            display: grid;
            grid-template-rows: 5px 80px 5px;
            grid-template-columns: 80px 1fr;
    
            grid-template-areas:
                ". ."
                "LOGO ."
                ". .";
        }




    /*BURGER------------------------------------------------------------------------------*/
    #burger_test_1 #burger_test_2::before {
        top: -7px;
    }

    #burger_test_1 #burger_tes_2::after {
        bottom: -7px;
    }

    #burger_test_1:hover #burger_test_2::before {
        top: -10px;
    }

    #burger_test_1:hover #burge_test_2::after {
        bottom: -10px;
    }

    #burger_tes_1.active #burger_test_2 {
        background: #1d1d1d;
    }

    #burger_test_1.active #burger_test_2::before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    #burger_test_1.active #burger_test_2::after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }



    /* Button placement */
    #burger_test_1 {
        position: absolute;
        left: 100%;
        margin-left: -18px;
    }
}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/






























/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 960px) {




    .center_holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: aliceblue;
        margin: 0;
    }


    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 1.5px;
    }


    .container_2 {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: left;
    }


    .container_right {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
    }



    .hidebar {
        position: fixed;
        width: 100%;
        max-width: 960px;
        height: 20px;
        background-color: aliceblue;
        z-index: 100;
    }


        #header {
            position: fixed;
            width: 100%;
            top: 20px;
            height: 100px;
            max-width: 960px;
            display: grid;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 30px 0px 0px 1fr 0px 0px 30px;
            grid-template-areas:
                ". BANNER-1  . MAIN-AREA . BANNER-2 .";
            z-index: 80;
        }


    .burger_dot {
        border-radius: 100%;
        background-color: #1d1d1d;

    }


        #FIXED_HEADER {
            grid-area: MAIN-AREA;
            display: grid;
            grid-row-gap: 5px;
            grid-column-gap: 5px;
            grid-template-columns: 120px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 5px auto 5px;
            grid-template-areas:
                ". . . . . . . . . . . ."
                "DATE-HOLDER MENU MENU MENU MENU MENU MENU MENU MENU-BUTTON MENU-BUTTON MENU-BUTTON MENU-BUTTON";
        }


        #BUTTON_HOLDER_LEFT {
            grid-area: DATE-HOLDER;
            display: grid;
    
            grid-row-gap: 15px;
            grid-column-gap: 20px;
            grid-template-rows: 5px auto 10px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "."
                "AREA"
                ".";
        }





    #BUTTON_HOLDER_RIGHT {
        grid-area: MENU-BUTTON;
        display: grid;
        grid-row-gap: 5px;
        grid-column-gap: 20px;
        grid-template-rows: 10px auto 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "."
            "AREA"
            ".";
    }


    #HEADER_MENU_1 {
        height: 100%;
        grid-area: AREA;
        background-color: #202020;
    }


    #HEADER_MENU_2 {
        grid-area: AREA;
        display: grid;
        grid-template-rows: 5px auto 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "  ."
            "BURGER"
            " .";
    }

    #B_H_2 {
        grid-area: BURGER;
        width: 100%;
        height: 100%;
    }

    #BURGER_CONTAINER {
        display: grid;
        align-items: flex-end;
        justify-content: right;
        width: 100%;
        height: 100%;
        grid-area: AREA;

    }



    #BURGER_MENU {
        grid-area: AREA;
    }


    #BURGER {
        grid-area: BURGER;
    }




    #CLOCK_HOLDER {
        grid-area: CLOCK-HOLDER;
        display: grid;
        grid-template-rows: 15px auto 15px;
        grid-template-columns: 15px 1fr 15px;
        grid-template-areas:
            " . . ."
            "AREA AREA ."
            ". . .";
    }




    #EMPTY {
        grid-area: EMPTY;
        display: grid;
        grid-template-rows: 5px auto 5px;
        grid-template-columns: 10px 1fr 10px;
        background-color: #202020;
        grid-template-areas:
            " . . ."
            ". AREA ."
            ". . .";
    }


#DATE_CLOCK {
    grid-area: DATE-HOLDER;
    display: grid;
    grid-template-rows: 5px 80px 5px;
    grid-template-columns: 80px 1fr;

    grid-template-areas:
        ". ."
        "LOGO ."
        ". .";
}

    #PFBD_RIGHT_DATE {
        grid-area: DATE;
    }


    #PFBD_RIGHT_CLOCK {
        grid-area: CLOCK;
    }




    #CLOCK {

        padding-top: 0px;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: #202020;
        text-align: left;
    }


    #DATE {

        padding-top: 0px;
        padding-bottom: 0px;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        color: #1d1d1d;
        text-align: left;
    }




    /*BURGER------------------------------------------------------------------------------*/
    #burger_test_1 #burger_test_2::before {
        top: -7px;
    }

    #burger_test_1 #burger_test_2::after {
        bottom: -7px;
    }

    #burger_test_1:hover #burger_test_2::before {
        top: -10px;
    }

    #burger_test_1:hover #burger_test_2::after {
        bottom: -10px;
    }

    #burger_test_1.active #burger_test_2 {
        background-color: aliceblue;
    }

    #burger_test_1.active #burger_test_2::before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    #burger_test_1.active #burger_test_2::after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }



    /* Button placement */
    #burger_test_1 {
        position: absolute;
        left: 100%;
        margin-left: -18px;
    }


        #TIME {
            display: none;
        }
}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
































/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 0px) and (max-width: 480px) {




    .center_holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: aliceblue;
        margin: 0;
    }


    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 1.5px;
    }


    .container_2 {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: left;
    }


    .container_right {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
    }



    .hidebar {
        position: fixed;
        width: 100%;
        max-width: 1760px;
        height: 20px;
        background-color: aliceblue;
        z-index: 100;
    }


        #header {
            position: fixed;
            width: 100%;
            top: 20px;
            height: 100px;
            max-width: 100%;
            display: grid;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 20px 0px 0px 1fr 0px 0px 20px;
            grid-template-areas:
                ". BANNER-1  . MAIN-AREA . BANNER-2 .";
            z-index: 80;
        }


    .burger_dot {
        border-radius: 100%;
        background-color: #202020;

    }


#FIXED_HEADER {
    grid-area: MAIN-AREA;
    display: grid;
    grid-row-gap: 5px;
    width: 100%;
    grid-column-gap: 2.5px;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5px auto 5px;
    grid-template-areas:
        ". . . . . . . . . . . ."
        "DATE-HOLDER MENU MENU MENU MENU MENU MENU MENU MENU-BUTTON MENU-BUTTON MENU-BUTTON MENU-BUTTON";
}



#LOGO_LINK {
    grid-area: LOGO;
    display: grid;
    grid-template-rows: 10px auto 10px;
    grid-template-columns: 1fr 10px 10px;
    width: 100%;
    height: 100%;
    grid-template-areas: ". . ."
        "LOGO . ."
        ". . .";
}

#LOGO {
    grid-area: LOGO;
    width: 100%;
    height: 100%;
}


#BUTTON_HOLDER_LEFT {
    grid-area: DATE-HOLDER;
    display: grid;

    grid-row-gap: 15px;
    grid-column-gap: 20px;
    grid-template-rows: 5px auto 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "."
        "AREA"
        ".";
}





    #BUTTON_HOLDER_RIGHT {
        grid-area: MENU-BUTTON;
        display: grid;
        grid-row-gap: 5px;
        grid-column-gap: 20px;
        grid-template-rows: 10px auto 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "."
                            "AREA"
                            ".";
}


    


   

    #B_H_2 {
        grid-area: BURGER;
        width: 100%;
        height: 100%;
    }

    #BURGER_CONTAINER {
        display: grid;
        align-items: flex-end;
        justify-content: right;
        width: 100%;
        height: 100%;
        grid-area: AREA;

    }



    #BURGER_MENU {
        grid-area: AREA;
    }


    #BURGER {
        grid-area: BURGER;
    }




    #CLOCK_HOLDER {
        grid-area: CLOCK-HOLDER;
        display: grid;
        grid-template-rows: 15px auto 15px;
        grid-template-columns: 15px 1fr 15px;
        grid-template-areas:
            " . . ."
            "AREA AREA ."
            ". . .";
    }




    #EMPTY {
        grid-area: EMPTY;
        display: grid;
        grid-template-rows: 5px auto 5px;
        grid-template-columns: 10px 1fr 10px;
        background-color: #202020;
        grid-template-areas:
            " . . ."
            ". AREA ."
            ". . .";
    }


#DATE_CLOCK {
    grid-area: DATE-HOLDER;
    display: grid;
    grid-template-rows: 5px 80px 5px;
    grid-template-columns: 80px 1fr;

    grid-template-areas:
        ". ."
        "LOGO ."
        ". .";
}

    #PFBD_RIGHT_DATE {
        grid-area: DATE;
    }


    #PFBD_RIGHT_CLOCK {
        grid-area: CLOCK;
    }




    #CLOCK {

        padding-top: 0px;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: #202020;
        text-align: left;
    }


    #DATE {

        padding-top: 0px;
        padding-bottom: 0px;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        color: #202020;
        text-align: left;
    }




    /*BURGER------------------------------------------------------------------------------*/
    #burger_test_1 #burger_test_2::before {
        top: -7px;
    }

    #burger_test_1 #burger_test_2::after {
        bottom: -7px;
    }

    #burger_test_1:hover #burger_test_2::before {
        top: -10px;
    }

    #burger_test_1:hover #burge_test_2::after {
        bottom: -10px;
    }

    #burger_test_1.active #burger_test_2 {
        background-color: aliceblue;
    }

    #burger_test_1.active #burger_test_2::before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    #burger_test_1.active #burger_test_2::after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }



    /* Button placement */
    #burger_test_1 {
        position: absolute;
        left: 100%;
        margin-left: -18px;
    }


    .DRAWER_CSS {
        width: 250PX;

    }



         #TIME {
             display: none;
         }

}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/