/* FOOTER---------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/



/*
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */




/* ---------------------------------------------------------------------------------------*/



.wrapper {
    position: relative;
    width: 100vw;
    height: auto;
}

.scroller::-webkit-scrollbar {
    width: 0px;
    height: 16px;
}

.scroller {
    scrollbar-width: none;
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}

.center_holder {

    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(190 242 100);
    margin: 0;
}

.footer_holder {
    position: relative;
    width: 100%;
    max-width: 1640px;
    background-color: rgb(190 242 100);
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    grid-template-rows: 20px auto;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
        ". BANNER-1 . MAIN-AREA . BANNER-2 .";
}

#SHADOW_SECTION {
    top: -80px;
    width: 100%;
    position:relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
    margin: 0;
}

#FOOTER {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE OTHER OTHER OTHER OTHER";
}



#IPHONE {
    grid-area: IPHONE;
    display: grid;
    grid-template-rows: 80px auto auto;
    grid-template-areas:
            "TITLE" 
            "MAIN"
            "MAIN";
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    width: 100%;
    height: 500px;
    background-color: rgb(190 242 100);
}

#OTHER {
    grid-area: OTHER;
    display: grid;
    width: 100%;
    height: 100%;
    grid-row-gap: 40px;
    grid-template-rows: auto 50px 50px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". GIF GIF GIF"
                         ". . . ."
                         "SOCIAL SOCIAL SOCIAL SOCIAL";
}

#SOCIAL {
    grid-area: SOCIAL;
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-gap: 10px;
    grid-template-columns: auto 40px 40px 40px 40px 40px;
    grid-template-areas:
        ". GITHUB MEDIUM DRIBBLE YOUTUBE LINKEDIN ";
}

 .container {
     position: relative;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     border-radius: 5px;
}

  .icon {
      display: grid;
      position: relative;
      width: 100%;
      height: 100%;
      grid-row-gap: 0px;
      grid-template-rows: 0px 1fr 0px;
      grid-template-columns: 0px 1fr 0px;
      grid-template-areas: ". . ."
          ". ICON ."
          ". . .";
}


#MEDIUM_ICON {
    display: grid;
    grid-area: MEDIUM;
    align-items: center;
    justify-content: center;
}

#LINKEDIN_ICON {
    display: grid;
    grid-area: LINKEDIN;
    align-items: center;
    justify-content: center;
}

#YOUTUBE_ICON {
    display: grid;
    grid-area: YOUTUBE;
    align-items: center;
    justify-content: center;
}

#DRIBBLE_ICON {
    display: grid;
    grid-area: DRIBBLE;
    align-items: center;
    justify-content: center;
}

#GITHUB_ICON {
    display: grid;
    grid-area: GITHUB;
    align-items: center;
    justify-content: center;
}

#PFBD_LINK {
    grid-area: ICON;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3px 1fr 0px;
    grid-template-rows: 1.5px 1fr 1.5px;
    grid-template-areas:
        ". .    ."
        ". CENTER ."
        ". .    .";
}

 #CENTER {
     grid-area: CENTER;
     width: 100%;
     height: 100%;
 }


 #FOOTER_MAIN {
    grid-area: MAIN;
    display: grid;
    grid-template-rows: auto 20px auto 20px 20px 20px 20px 20px 20px 40px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 30px 1fr 1fr;
    grid-template-areas:
            "TAGLINE TAGLINE TAGLINE TAGLINE TAGLINE TAGLINE"
            ". . . . . ."
            "SIGNUP SIGNUP SIGNUP . . ."
            ". . . . . ."
            "WEBSITE WEBSITE WEBSITE . ARB ARB"
            ". . . . ARB ARB"
            "COMPANY COMPANY COMPANY . ARB ARB"
            ". . . . . ."
            "TC TC TC TC TC TC"
            ". . . . . .";
 }

 #COMPANY {
     grid-area: COMPANY;
 }

  #WEBSITE {
      grid-area: WEBSITE;
  }

   #TAGLINE {
       grid-area: TAGLINE;
   }


   #ARC_ICONS {
    grid-area: ARB;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 100px 20px 100px;
    grid-template-areas:
            ". ARB . RIBA"

   }

   #ARB {
       grid-area: ARB;
   }

   #RIBA {
       grid-area: RIBA;
   }

   #TC {
       grid-area: TC;
   }






   #BIM_TITLE {
        position: relative;
        grid-area: TITLE;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "TITLE .";       
   }


    #IMAGE_HOLDER {
        position: relative;
        width: 100%;
        height: 100%;
        left: -27.5px;
    }


    #ROCKETSHIP_HOLDER {
        position: relative;
        grid-area: GIF;
       
    }

     

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/





































/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 960px) and (max-width: 1280px) {



    .wrapper {
        width: 100vw;
        height: auto;
    }


    .scroller::-webkit-scrollbar {
        width: 0px;
        height: 16px;
    }


    .scroller {
        scrollbar-width: none;
        position: absolute;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }


    .center_holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    .footer_holder {
        position: relative;
        width: 100%;
        max-width: 1760px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 100px auto;
        grid-template-columns: 0px 1fr 0px;
        grid-template-areas: ". . ."
            "BANNER-1 MAIN-AREA BANNER-2";
    }




    #SHADOW_SECTION {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    #FOOTER {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "IPHONE IPHONE IPHONE IPHONE IPHONE OTHER OTHER OTHER";
    }


    #IPHONE {
        grid-area: IPHONE;
        width: 100%;
        height: 500px;
        background-color: rgb(255, 191, 106);
    }


    #OTHER {
        grid-area: OTHER;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 40px;
        grid-template-rows: auto 40px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."
            "SOCIAL SOCIAL SOCIAL SOCIAL";
    }

#PFBD_LINK {
    grid-area: ICON;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 13px 1fr 0px;
    grid-template-rows: 6.5px 1fr 6.5px;
    grid-template-areas:
        ". .    ."
        ". CENTER ."
        ". .    .";
}
    
         #CENTER {
             grid-area: CENTER;
             width: 100%;
             height: 100%;
         }

}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/





































/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 960px) {



    .wrapper {
        width: 100vw;
        height: auto;
    }


    .scroller::-webkit-scrollbar {
        width: 0px;
        height: 16px;
    }


    .scroller {
        scrollbar-width: none;
        position: absolute;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }


    .center_holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }



    .footer_holder {
        position: relative;
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 0px auto;
        grid-template-columns: 1fr;
        grid-template-areas: "."
            "MAIN-AREA";
            
    }




    #SHADOW_SECTION {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    #FOOTER {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto;
        grid-template-areas:
            "OTHER"
            "IPHONE";
    }


    #IPHONE {
        grid-area: IPHONE;
        width: 100%;
        height: 500px;
        background-color: rgb(255, 191, 106);
    }


    #OTHER {
        grid-area: OTHER;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 40px;
        grid-template-rows: auto 40px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."
            ". SOCIAL SOCIAL SOCIAL";
    }

    #PFBD_LINK {
            grid-area: ICON;
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 13px 1fr 0px;
            grid-template-rows: 6.5px 1fr 6.5px;
            grid-template-areas:
                ". .    ."
                ". CENTER ."
                ". .    .";
    }
    
    #CENTER {
            grid-area: CENTER;
            width: 100%;
            height: 100%;
    }

}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/





































/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 0px) and (max-width: 480px) {



    .wrapper {
        width: 100vw;
        height: auto;
    }


    .scroller::-webkit-scrollbar {
        width: 0px;
        height: 16px;
    }


    .scroller {
        scrollbar-width: none;
        position: absolute;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }


    .center_holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }




    .footer_holder {
        position: relative;
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        background-color: rgb(190 242 100);
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        grid-template-rows: 0px auto;
        grid-template-columns: 1fr;
        grid-template-areas: "."
            "MAIN-AREA";
    }




    #SHADOW_SECTION {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    #FOOTER {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto;
        grid-template-areas: "OTHER"
            "IPHONE";
    }


    #IPHONE {
        grid-area: IPHONE;
        width: 100%;
        height: 500px;
        background-color: rgb(255, 191, 106);
    }

    #OTHER {
        grid-area: OTHER;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 40px;
        grid-template-rows: auto 40px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."
            "SOCIAL SOCIAL SOCIAL SOCIAL";
    }

        #SOCIAL {
            grid-area: SOCIAL;
            display: grid;
            width: 100%;
            height: 100%;
            grid-column-gap: 0px;
            grid-template-columns: auto 45px 45px 45px 45px;
            grid-template-areas:
                ". GITHUB DRIBBLE YOUTUBE LINKEDIN";
        }

        #PFBD_LINK {
            grid-area: ICON;
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 13px 1fr 0px;
            grid-template-rows: 6.5px 1fr 6.5px;
            grid-template-areas:
                ". .    ."
                ". CENTER ."
                ". .    .";
        }
}

/* ---------------------------------------------------------------------------------------*/





/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/